:root {
  --celeste: #9cfffaff;
  --onyx: #353B3C;
  --rhythm: #6a6b83ff;
  --battleship-grey: #808d8eff;
  --medium-aquamarine: #6fedb7ff;
  --medium-spring-green: #59ffa0ff;
}

.onyx {
  color: var(--onyx);
}

.celeste {
  color: var(--celeste);
}

.b--celeste {
  border-color: var(--celeste);
}

.card {
  color: var(--medium-spring-green);
  border-color: var(--medium-spring-green);
}

.card:hover {
  color: var(--battleship-grey);
  border-color: var(--battleship-grey);
  background-color: var(--medium-aquamarine);
}

.bg-onyx {
  background-color: var(--onyx);
}

html {
  background-color: var(--battleship-grey);
}